@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Quantico:ital,wght@0,400;0,700;1,700&family=Saira+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: green;
    background: url("images/night-town.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 3em;
    font-size: 85%;
    max-width: 100%;
    overflow-x: hidden;
}

.page-title {
    margin: 2em;
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 4em;
    margin: 0;
    margin-bottom: 2em;
    animation: fade-in 3s;
}

.cards-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
}

@media (max-width: 1366px) {
    .cards-area {
        flex-direction: column;
    }
}

@media (max-width: 1081px) {
    body {
        font-size: 50%;
    }

    .cards-area {
        flex-direction: column;
    }
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.credit-card {
    border: 1px solid black;
    border-radius: 1.2em;
    width: 40em;
    height: 25.3em;
    background-color: rgb(255, 88, 18);
    animation: jumping 1s alternate infinite;
    box-shadow: 0 10px 50px -10px black;
}

.credit-card:hover {
    transform: scale(1.01);
    animation: none;
    cursor: pointer;
    box-shadow: 0 50px 80px -10px white;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0.5em;
    padding-right: 1em;
    margin-top: -1em;
}

.middle {
    display: flex;
    align-items: center;
    margin-top: 2em;
    margin-left: 0.5em;
}

.bottom {
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bank-basic-info {
    display: flex;
    align-items: center;
    margin-top: 0.7em;
}

.bank-name {
    font-size: 3em;
    letter-spacing: 0.05em;
    margin: 0.5em;
    text-transform: uppercase;
    text-shadow: none;
    display: flex;
    align-items: center;
    margin-right: 0;
}

.top__producent-logo {
    height: 2.5em;
    width: 7em;
    margin-top: -1em;
}

.bank-logo {
    color:white;
    width: 3.6em;
    height: 2.5em;
}

.middle__chip {
    width: 4em;
}

.middle__left-arrow {
    width: 3em;
    height: 3em;
}

.paypass-logo {
    transform: rotate(90deg);
    height: 5em;
    width: 5em;
}

.middle__additional-text {
    font-size: 1.6em;
    font-family: 'PT Sans', sans-serif;
}

.bottom__account-number {
    text-transform: uppercase;
    font-size: 3.2em;
    margin: 0em;
    letter-spacing: 0.12em;
    text-shadow: 0 2px 0 black;
    font-family: 'Saira Condensed', sans-serif;
}

.validation-info {
    display: flex;
    align-items: center;
    margin-top: 0.7em;
}

.validation-info__text {
    font-size: 0.72em;
    text-shadow: none;
    font-family: 'PT Sans', sans-serif;
    margin-right: 1em;
}

.validation-info__valid-date {
    font-size: 1.6em;
    margin: 0;
    text-shadow: 0 2px 0 black;
    font-family: 'Saira Condensed', sans-serif;
}

.bottom__owner-name {
    text-transform: uppercase;
    margin: 0;
    align-self: flex-start;
    margin-left: 2em;
    font-size: 1.6em;
    text-shadow: 0 2px 0 black;
    letter-spacing: 0.15em;
    font-family: 'Saira Condensed', sans-serif;
}

@keyframes jumping {
    from {
        transform: translateY(1.8em);
    }
}

@keyframes fade-in {
    from { 
        opacity: 0;
        scale: 1.8;
    }
    to   { 
        opacity: 1; 
        scale: 1;
    }
}


/* Millennium extension*/
#millennium-example-card {
    background-image: linear-gradient(to left top, #c32e7d, #b62972, #aa2368, #9d1e5e, #911954, #851e51, #7a214e, #6f234a, #622a49, #552f46, #483241, #3d343b);
}

.middle--millennium {
    justify-content: space-between;
    margin: 0 2em 0 3.6em;
}

.bank-logo--millennium {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid white;
    height: 5em;
    margin: 1em;
}

.top--millennium {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.2em;
}

.top--millennium__name {
    font-size: 3.4em;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
    font-family: 'Mukta', sans-serif;
    padding-bottom: 0px;
}

.top--millennium__second-text {
    font-size: 1.2em;
    align-self: space-between;
    font-family: 'Mukta', sans-serif;
    margin-left: 6.5em;
}

.left-right-areas {
    display: flex;
    justify-content: space-evenly;
    gap: 10em;
}

.validation-info--millennium {
    align-self: flex-end;
}

.left-right-areas__left {
    display: flex;
    flex-direction: column;
    min-width: 20em;
}

.left-right-areas__right {
    align-self: flex-end;
    text-align: right;
}


/* Revolut */
#revolut-example-card {
    background-image: linear-gradient(to left bottom, #05429f, #4745b9, #7a43cd, #ad36db, #e103e1);
}

.top--revolut {
    margin-top: 0.3em;
    margin-left: 2em;
}

.middle--revolut {
    justify-content: space-between;
    margin: 3.2em 3em 0 3.6em;
}

.validation-info--revolut {
    flex-direction: column;
    margin-left: 12em;
}

.bank-logo--revolut {
    width: 8em;
    height: 2em;
    color: white;

}

/* ING backside */
.top-back {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    /* align-items: center; */

}

.top-back__texts {
   display: flex;
   justify-content: space-between;
   padding: 0.5em;
   padding-left: 1.25em;
   padding-top: 1em;
   font-size: 0.75em;
   color: black;
}

.top-back__magnetic-line {
    align-self: flex-start;
    width: 100%;
    height: 5.5em;
    background-color: black;
    margin: 0
}

.middle-back {
    display: flex;
    flex-direction: column;
    margin: 2em;
}

.middle-back__mandatory-data {
    display: flex;
    justify-content: space-around;
    padding-left: 1em;
    padding-right: 1em;
    align-items: center;
    margin-bottom: 1em;
}

.mandatory-data-back {
    display: flex;
    align-items: center;
    margin-right: 2em;
}

.signature-field {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        #5e99c9,
        #5e99c9 40%,
        #ddd589 40%,
        #ddd589
    );
    background-size: 100% 0.5em;
    height: 4em;
    width: 25em;
    font-family:fantasy;
    color: black;
}

.cvv-number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: 4em;
    font-style: italic;
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.aditional-item {
    font-size: 1.25em;
    font-family: 'PT Sans', sans-serif;
}

.middle-back__additional-info {
    display: grid;
    grid-template-columns: 20% 80%;
}

.information-text {
    color: black;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.8em;
}

.dove__hologram-picture {
    max-width: 8em;
    max-height: 5em;
    border-radius: 10px;
} 

.bottom-back {

}

